<a href="site_main" class="brand"></a>
<div class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
    <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
            <li>
                <a href="#" class="childY">产品介绍</a>
                <ul class="cbp-hssubmenu cbp-hssub-rows">
                    <li>
						<a href="site_prod_mes">
							<span class="prodname mes">生产管理系统<span>Manufacturing Execution System</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_qms">
							<span class="prodname qms">质量管理系统<span>Quality Management System</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_scm">
							<span class="prodname scm">供应链管理系统<span>Supply Chain Management</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_crm">
							<span class="prodname crm">客户管理系统<span>Customer Relationship Management</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_edm">
							<span class="prodname edm">工程数据管理系统<span>Engineering Data Management</span></span>
						</a>
					</li>
                    <li>
						<a href="site_prod_wms">
							<span class="prodname wms">仓储管理系统<span>Warehouse Management System</span></span>
						</a>
					</li>
                </ul>
            </li>
            <li>
                <a href="#" class="childY">适用行业</a>
                <ul class="cbp-hssubmenu">
                    <li>
						<a href="site_indu_automotive">
							<span class="bizname auto">汽车<span>Automotive</span></span>
						</a>
					</li>
                    <li>
						<a href="site_indu_electronics">
							<span class="bizname elect">电子<span>Electronics</span></span>
						</a>
					</li>
                    <li>
						<a href="site_indu_mechanics">
							<span class="bizname mecha">机械<span>Mechanics</span></span>
						</a>
					</li>
					<li>
						<a href="site_indu_metalforming">
							<span class="bizname mold">金属成型<span>Metal forming</span></span>
						</a>
					</li>
					<!--li>
						<a href="site_indu_logistics">
							<span class="bizname logistic">物流<span>Logistic</span></span>
						</a>
					</li-->
                </ul>
            </li>
            <li><a href="site_company">企业宗旨</a></li>
            <li><a href="site_support">客户支持</a></li>
        </ul>
    </div>
</div>
